1.Using the same Dmart file, calculate the weekly returns for the entire year 

2.Populate a table of returns with week number of month(1,2,3,4,5) and month name        

Please note:
1.Week starts from Monday
2. Use while loop to loop through the dataframe and not any form of groupby, directly or indirectly
3. You buy at the open of the first day of the week and sell at the close of the last day of week
4. If the end of month falls on Wednesday, you exit your position on Wednesday close. New week of the new month starts from Thursday

In [167]:
import warnings
warnings.simplefilter(action='ignore',category=FutureWarning)

In [168]:
import pandas as pd
import numpy as np
inputt=r'C:\Users\admin\Desktop\Dmart.csv'
df = pd.read_csv(inputt)

In [169]:
from datetime import datetime
df['Month']=pd.to_datetime(df['Date/Time']).dt.month
df['Date/Time']=pd.to_datetime(df['Date/Time']).dt.date
display(df)

           Ticker   Date/Time     Open      Low     High    Close  Month
0    DMART.EQ-NSE  2020-01-01  1849.70  1820.00  1867.00  1828.50      1
1    DMART.EQ-NSE  2020-01-02  1831.00  1815.00  1854.85  1824.20      1
2    DMART.EQ-NSE  2020-01-03  1827.00  1827.00  1853.00  1843.55      1
3    DMART.EQ-NSE  2020-01-06  1827.00  1780.00  1829.00  1789.90      1
4    DMART.EQ-NSE  2020-01-07  1805.00  1805.00  1837.50  1815.75      1
..            ...         ...      ...      ...      ...      ...    ...
247  DMART.EQ-NSE  2020-12-24  2661.85  2604.80  2700.00  2673.10     12
248  DMART.EQ-NSE  2020-12-28  2685.95  2655.00  2698.95  2678.00     12
249  DMART.EQ-NSE  2020-12-29  2690.00  2645.00  2694.70  2665.70     12
250  DMART.EQ-NSE  2020-12-30  2666.20  2642.35  2725.00  2680.30     12
251  DMART.EQ-NSE  2020-12-31  2691.00  2670.00  2780.00  2763.60     12

[252 rows x 7 columns]

In [170]:
k=0
month=1
c_month=[]
c_week=[]
close=[]
while(k<=len(df)):
    week_count=0
    for i,j in df.iterrows(): 
        if(df.loc[i,'Month']==month):
            if(df.loc[i,'Month']<12):
                if(df.loc[i,'Date/Time'].weekday()==4 or df.loc[i+1,'Month']==month+1):
                    if(df.loc[i+1,'Date/Time'].weekday()==5 and df.loc[i+1,'Month']==month):
                        pass
                    else:
                        print(df.loc[i,'Date/Time'])
                        close.append(df.loc[i,'Close'])
                        week_count+=1
                        c_month.append(df.loc[i,'Month'])
                        c_week.append(week_count)
                        print("Week count",week_count)
                    #print(k)
                        k+=1
                    
                elif(df.loc[i,'Date/Time'].weekday()==3):
                    if(df.loc[i+1,'Date/Time'].weekday()==4):
                        pass
                    else:
                        print(df.loc[i,'Date/Time'])
                        close.append(df.loc[i,'Close'])
                        week_count+=1
                        c_month.append(df.loc[i,'Month'])
                        c_week.append(week_count)
                        print("week Count",week_count)
                        k+=1
                        
                elif(df.loc[i,'Date/Time'].weekday()==5):
                    print(df.loc[i,'Date/Time'])
                    close.append(df.loc[i,'Close'])
                    week_count+=1
                    c_month.append(df.loc[i,'Month'])
                    c_week.append(week_count)
                    print("Week Count",week_count)
                    k+=1
                    
            if(df.loc[i,'Month']==12):
                if(df.loc[i,'Date/Time'].weekday()==4 or i==251):
                    print(df.loc[i,'Date/Time'])
                    close.append(df.loc[i,'Open'])
                    week_count+=1
                    c_month.append(df.loc[i,'Month'])
                    c_week.append(week_count)
                    print("Week count",week_count)
                    #print(k)
                    k+=1
                    
                if(df.loc[i,'Date/Time'].weekday()==3 and i<251):
                    if(df.loc[i+1,'Date/Time'].weekday()==4):
                        pass
                    else:
                        print(df.loc[i,'Date/Time'])
                        close.append(df.loc[i,'Close'])
                        week_count+=1
                        c_month.append(df.loc[i,'Month'])
                        c_week.append(week_count)
                        print("Week count",week_count)
                        k+=1
                    
    k+=1
    month+=1

2020-01-03
Week count 1
2020-01-10
Week count 2
2020-01-17
Week count 3
2020-01-24
Week count 4
2020-01-31
Week count 5
2020-02-01
Week Count 1
2020-02-07
Week count 2
2020-02-14
Week count 3
2020-02-20
week Count 4
2020-02-28
Week count 5
2020-03-06
Week count 1
2020-03-13
Week count 2
2020-03-20
Week count 3
2020-03-27
Week count 4
2020-03-31
Week count 5
2020-04-03
Week count 1
2020-04-09
week Count 2
2020-04-17
Week count 3
2020-04-24
Week count 4
2020-04-30
Week count 5
2020-05-08
Week count 1
2020-05-15
Week count 2
2020-05-22
Week count 3
2020-05-29
Week count 4
2020-06-05
Week count 1
2020-06-12
Week count 2
2020-06-19
Week count 3
2020-06-26
Week count 4
2020-06-30
Week count 5
2020-07-03
Week count 1
2020-07-10
Week count 2
2020-07-17
Week count 3
2020-07-24
Week count 4
2020-07-31
Week count 5
2020-08-07
Week count 1
2020-08-14
Week count 2
2020-08-21
Week count 3
2020-08-28
Week count 4
2020-08-31
Week count 5
2020-09-04
Week count 1
2020-09-11
Week count 2
2020-09-18
Week count 3
2020-09-25
Week count 4
2020-09-30
Week count 5
2020-10-01
week Count 1
2020-10-09
Week count 2
2020-10-16
Week count 3
2020-10-23
Week count 4
2020-10-30
Week count 5
2020-11-06
Week count 1
2020-11-14
Week Count 2
2020-11-20
Week count 3
2020-11-27
Week count 4
2020-12-04
Week count 1
2020-12-11
Week count 2
2020-12-18
Week count 3
2020-12-24
Week count 4
2020-12-31
Week count 5

In [171]:
print(len(close))
print(close)
print(c_week)
print(c_month)

58
[1843.55, 1876.95, 1990.55, 1948.6, 2133.95, 2072.05, 2287.2, 2408.35, 2462.65, 2323.95, 2242.15, 2101.0, 1916.1, 2079.7, 2187.5, 2066.95, 2392.65, 2212.1, 2310.5, 2383.65, 2255.0, 2333.8, 2398.3, 2269.35, 2499.0, 2397.8, 2363.15, 2294.4, 2317.15, 2290.15, 2322.7, 1989.75, 2031.4, 2063.45, 2138.4, 2178.0, 2259.45, 2319.4, 2251.25, 2251.45, 2239.35, 2149.05, 2102.7, 2203.15, 2184.8, 2057.6, 1984.2, 2116.55, 2239.9, 2294.6, 2374.15, 2382.6, 2289.2, 2469.95, 2647.0, 2574.0, 2673.1, 2691.0]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 1, 2, 3, 4, 5]
[1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 11, 11, 11, 11, 12, 12, 12, 12, 12]

In [172]:
k=0
month=1
o_month=[]
o_week=[]
open1=[]
while(k<=len(df)):
    week_count=0
    for i,j in df.iterrows(): 
        if(df.loc[i,'Month']==month):
            if(df.loc[i,'Month']>1):
                if(df.loc[i,'Date/Time'].weekday()==0 or df.loc[i-1,'Month']==month-1):
                    print(df.loc[i,'Date/Time'])
                    open1.append(df.loc[i,'Open'])
                    week_count+=1
                    o_week.append(week_count)
                    o_month.append(df.loc[i,'Month'])
                    print("Week count",week_count)
                    #print(k)
                    k+=1
                    
                elif(df.loc[i,'Date/Time'].weekday()==1):
                    if(df.loc[i-1,'Date/Time'].weekday()==0):
                        pass
                    else:
                        print(df.loc[i,'Date/Time'])
                        open1.append(df.loc[i,'Open'])
                        week_count+=1
                        o_week.append(week_count)
                        o_month.append(df.loc[i,'Month'])
                        print("week Count",week_count)
                        k+=1
                '''       
                elif(df.loc[i,'Date/Time'].weekday()==5):
                    print(df.loc[i,'Date/Time'])
                    open1.append(df.loc[i,'Open'])
                    week_count+=1
                    o_week.append(week_count)
                    o_month.append(df.loc[i,'Month'])
                    print("Week count",week_count)
                    k+=1
               '''
            if(df.loc[i,'Month']==1):
                if(df.loc[i,'Date/Time'].weekday()==0 or i==0):
                    print(df.loc[i,'Date/Time'])
                    open1.append(df.loc[i,'Open'])
                    week_count+=1
                    o_week.append(week_count)
                    o_month.append(df.loc[i,'Month'])
                    print("Week count",week_count)
                    #print(k)
                    k+=1
    k+=1
    month+=1

2020-01-01
Week count 1
2020-01-06
Week count 2
2020-01-13
Week count 3
2020-01-20
Week count 4
2020-01-27
Week count 5
2020-02-01
Week count 1
2020-02-03
Week count 2
2020-02-10
Week count 3
2020-02-17
Week count 4
2020-02-24
Week count 5
2020-03-02
Week count 1
2020-03-09
Week count 2
2020-03-16
Week count 3
2020-03-23
Week count 4
2020-03-30
Week count 5
2020-04-01
Week count 1
2020-04-07
week Count 2
2020-04-13
Week count 3
2020-04-20
Week count 4
2020-04-27
Week count 5
2020-05-04
Week count 1
2020-05-11
Week count 2
2020-05-18
Week count 3
2020-05-26
week Count 4
2020-06-01
Week count 1
2020-06-08
Week count 2
2020-06-15
Week count 3
2020-06-22
Week count 4
2020-06-29
Week count 5
2020-07-01
Week count 1
2020-07-06
Week count 2
2020-07-13
Week count 3
2020-07-20
Week count 4
2020-07-27
Week count 5
2020-08-03
Week count 1
2020-08-10
Week count 2
2020-08-17
Week count 3
2020-08-24
Week count 4
2020-08-31
Week count 5
2020-09-01
Week count 1
2020-09-07
Week count 2
2020-09-14
Week count 3
2020-09-21
Week count 4
2020-09-28
Week count 5
2020-10-01
Week count 1
2020-10-05
Week count 2
2020-10-12
Week count 3
2020-10-19
Week count 4
2020-10-26
Week count 5
2020-11-02
Week count 1
2020-11-09
Week count 2
2020-11-17
week Count 3
2020-11-23
Week count 4
2020-12-01
Week count 1
2020-12-07
Week count 2
2020-12-14
Week count 3
2020-12-21
Week count 4
2020-12-28
Week count 5

In [173]:
print(len(open1))
print(open1)
print(o_week)
print(o_month)

58
[1849.7, 1827.0, 1925.0, 2000.0, 1945.5, 2120.0, 2084.0, 2287.2, 2354.5, 2448.8, 2335.0, 2185.0, 1995.95, 1820.3, 2079.7, 2218.0, 2090.1, 2320.0, 2229.95, 2300.0, 2310.2, 2280.0, 2333.0, 2339.0, 2320.1, 2520.0, 2373.0, 2366.0, 2294.4, 2325.0, 2296.0, 2210.05, 1979.9, 2044.0, 2068.7, 2138.4, 2181.0, 2269.95, 2298.9, 2244.0, 2270.0, 2250.0, 2175.0, 2110.9, 2210.0, 2192.95, 2072.0, 1969.05, 2120.0, 2240.0, 2306.05, 2374.15, 2361.1, 2330.0, 2441.9, 2715.0, 2645.0, 2685.95]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 1, 2, 3, 4, 5]
[1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 11, 11, 11, 11, 12, 12, 12, 12, 12]

In [174]:
roc = []
for i in range(len(close)):
    close[i]-open1[i]
    roc.append(close[i]-open1[i])
print(roc)

[-6.150000000000091, 49.950000000000045, 65.54999999999995, -51.40000000000009, 188.44999999999982, -47.94999999999982, 203.19999999999982, 121.15000000000009, 108.15000000000009, -124.85000000000036, -92.84999999999991, -84.0, -79.85000000000014, 259.39999999999986, 107.80000000000018, -151.05000000000018, 302.5500000000002, -107.90000000000009, 80.55000000000018, 83.65000000000009, -55.19999999999982, 53.80000000000018, 65.30000000000018, -69.65000000000009, 178.9000000000001, -122.19999999999982, -9.849999999999909, -71.59999999999991, 22.75, -34.84999999999991, 26.699999999999818, -220.30000000000018, 51.5, 19.449999999999818, 69.70000000000027, 39.59999999999991, 78.44999999999982, 49.45000000000027, -47.65000000000009, 7.449999999999818, -30.65000000000009, -100.94999999999982, -72.30000000000018, 92.25, -25.199999999999818, -135.3499999999999, -87.79999999999995, 147.50000000000023, 119.90000000000009, 54.59999999999991, 68.09999999999991, 8.449999999999818, -71.90000000000009, 139.94999999999982, 205.0999999999999, -141.0, 28.09999999999991, 5.050000000000182]

In [175]:
print(c_week)
print(o_week)
print(len(c_week))

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 1, 2, 3, 4, 5]
58

In [176]:
Weekly = pd.DataFrame(list(zip(open1,close,roc,o_week,o_month)),columns=['Open','Close','Returns','Week','Month'])
display(Weekly)

       Open    Close  Returns  Week  Month
0   1849.70  1843.55    -6.15     1      1
1   1827.00  1876.95    49.95     2      1
2   1925.00  1990.55    65.55     3      1
3   2000.00  1948.60   -51.40     4      1
4   1945.50  2133.95   188.45     5      1
5   2120.00  2072.05   -47.95     1      2
6   2084.00  2287.20   203.20     2      2
7   2287.20  2408.35   121.15     3      2
8   2354.50  2462.65   108.15     4      2
9   2448.80  2323.95  -124.85     5      2
10  2335.00  2242.15   -92.85     1      3
11  2185.00  2101.00   -84.00     2      3
12  1995.95  1916.10   -79.85     3      3
13  1820.30  2079.70   259.40     4      3
14  2079.70  2187.50   107.80     5      3
15  2218.00  2066.95  -151.05     1      4
16  2090.10  2392.65   302.55     2      4
17  2320.00  2212.10  -107.90     3      4
18  2229.95  2310.50    80.55     4      4
19  2300.00  2383.65    83.65     5      4
20  2310.20  2255.00   -55.20     1      5
21  2280.00  2333.80    53.80     2      5
22  2333.00  2398.30    65.30     3      5
23  2339.00  2269.35   -69.65     4      5
24  2320.10  2499.00   178.90     1      6
25  2520.00  2397.80  -122.20     2      6
26  2373.00  2363.15    -9.85     3      6
27  2366.00  2294.40   -71.60     4      6
28  2294.40  2317.15    22.75     5      6
29  2325.00  2290.15   -34.85     1      7
30  2296.00  2322.70    26.70     2      7
31  2210.05  1989.75  -220.30     3      7
32  1979.90  2031.40    51.50     4      7
33  2044.00  2063.45    19.45     5      7
34  2068.70  2138.40    69.70     1      8
35  2138.40  2178.00    39.60     2      8
36  2181.00  2259.45    78.45     3      8
37  2269.95  2319.40    49.45     4      8
38  2298.90  2251.25   -47.65     5      8
39  2244.00  2251.45     7.45     1      9
40  2270.00  2239.35   -30.65     2      9
41  2250.00  2149.05  -100.95     3      9
42  2175.00  2102.70   -72.30     4      9
43  2110.90  2203.15    92.25     5      9
44  2210.00  2184.80   -25.20     1     10
45  2192.95  2057.60  -135.35     2     10
46  2072.00  1984.20   -87.80     3     10
47  1969.05  2116.55   147.50     4     10
48  2120.00  2239.90   119.90     5     10
49  2240.00  2294.60    54.60     1     11
50  2306.05  2374.15    68.10     2     11
51  2374.15  2382.60     8.45     3     11
52  2361.10  2289.20   -71.90     4     11
53  2330.00  2469.95   139.95     1     12
54  2441.90  2647.00   205.10     2     12
55  2715.00  2574.00  -141.00     3     12
56  2645.00  2673.10    28.10     4     12
57  2685.95  2691.00     5.05     5     12

In [177]:
table = pd.pivot_table(Weekly,values='Returns',index='Month',columns='Week',aggfunc=np.sum)
print(table)

Week        1       2       3       4       5
Month
1       -6.15   49.95   65.55  -51.40  188.45
2      -47.95  203.20  121.15  108.15 -124.85
3      -92.85  -84.00  -79.85  259.40  107.80
4     -151.05  302.55 -107.90   80.55   83.65
5      -55.20   53.80   65.30  -69.65     NaN
6      178.90 -122.20   -9.85  -71.60   22.75
7      -34.85   26.70 -220.30   51.50   19.45
8       69.70   39.60   78.45   49.45  -47.65
9        7.45  -30.65 -100.95  -72.30   92.25
10     -25.20 -135.35  -87.80  147.50  119.90
11      54.60   68.10    8.45  -71.90     NaN
12     139.95  205.10 -141.00   28.10    5.05