In [1]:
import requests
import datetime 
from zipfile import ZipFile
import pandas as pd
import numpy as np
import os
import glob
from pathlib import Path
from datetime import date
import warnings
import opstrat as op
warnings.simplefilter(action='ignore',category=FutureWarning)

In [2]:
extension = 'csv'
end='28-04-2022'
end=datetime.datetime.strptime(end,"%d-%m-%Y").date()
delta = datetime.timedelta(days=1)
i=0
path = r'C:\Users\admin\Desktop\C_D'
while(i<28):
    try:
        url = r'https://www1.nseindia.com/content/historical/DERIVATIVES/'+end.strftime("%Y")+'/'+end.strftime("%b").upper()+'/fo'+end.strftime("%d%b%Y").upper()+'bhav.csv.zip'
        #print(url)
        req=requests.get(url)
        filename=url.split('/')[-1]
        with open(path+'/'+filename,'wb') as output_file:
            output_file.write(req.content)
        with ZipFile(path+'/'+filename,'r') as zip_ref:
            zip_ref.extractall(path)
    except:
        pass
    end-=delta
    i+=1

In [3]:
extension = 'csv'
path=Path(r'C:\Users\admin\Desktop\C_D')
files = [i for i in path.glob('*.{}'.format(extension))]
combined_csv=pd.concat([pd.read_csv(f) for f in files])
combined_csv.to_csv("C_D.csv",index=False)

In [4]:
df = pd.read_csv(r'C:\Users\admin\Desktop\Python\C_D.csv')

In [5]:
c_d = df[(df['OPTION_TYP']=='CE') & (df['INSTRUMENT']=='OPTSTK')]
c_d['TIMESTAMP'] = pd.to_datetime(c_d['TIMESTAMP']) 
c_d = c_d.sort_values(by='TIMESTAMP')
c_d.reset_index(inplace=True,drop=True)
#c_d.to_csv(r'C:\Users\admin\Desktop\filter.csv')

In [6]:
#display(c_d)

In [7]:
c_d['TotalContracts']=c_d.groupby('SYMBOL')['CONTRACTS'].transform('sum')
#display(c_d)

In [8]:
c_d=c_d.sort_values(by='TotalContracts',ascending=False)
c_d.reset_index(inplace=True,drop=True)

In [9]:
#display(c_d)

In [10]:
c_d1=c_d.groupby('SYMBOL')['CONTRACTS'].sum()
c_d1 = c_d1.to_frame().reset_index()
c_d1=c_d1.sort_values(by='CONTRACTS',ascending=False)
c_d1.reset_index(inplace=True,drop=True)
display(c_d1)
#c_d1.info()
#c_d1.to_csv(r'C:\Users\admin\Desktop\test.csv')

       SYMBOL  CONTRACTS
0    RELIANCE    3556306
1    HDFCBANK    2849985
2        INFY    1858456
3         TCS    1605120
4        HDFC    1418455
..        ...        ...
194      ATUL       3130
195       ABB       2765
196    PFIZER       1961
197   PAGEIND       1715
198    HONAUT        469

[199 rows x 2 columns]

In [11]:
#for i in range(100):
#    display(c_d1.loc[i,'SYMBOL'])

In [12]:
extension = 'csv'
start='29-04-2022'
start=datetime.datetime.strptime(start,"%d-%m-%Y").date()
delta = datetime.timedelta(days=1)
i=0
path = r'C:\Users\admin\Desktop\C_D1'
while(i<28):
    try:
        url = r'https://www1.nseindia.com/content/historical/DERIVATIVES/'+start.strftime("%Y")+'/'+start.strftime("%b").upper()+'/fo'+start.strftime("%d%b%Y").upper()+'bhav.csv.zip'
        #print(url)
        req=requests.get(url)
        filename=url.split('/')[-1]
        with open(path+'/'+filename,'wb') as output_file:
            output_file.write(req.content)
        with ZipFile(path+'/'+filename,'r') as zip_ref:
            zip_ref.extractall(path)
    except:
        pass
    start+=delta
    i+=1

In [13]:
extension = 'csv'
path=Path(r'C:\Users\admin\Desktop\C_D1')
files = [i for i in path.glob('*.{}'.format(extension))]
combined_csv=pd.concat([pd.read_csv(f) for f in files])
combined_csv.to_csv("C_D_May.csv",index=False)

In [14]:
df_1 = pd.read_csv(r'C:\Users\admin\Desktop\Python\C_D_May.csv')
#display(df_1)

In [15]:
c_d2 = df_1[(df_1['OPTION_TYP']=='CE') & (df_1['INSTRUMENT']=='OPTSTK') & (df_1['EXPIRY_DT']=='26-May-2022')]
c_d2['TIMESTAMP'] = pd.to_datetime(c_d2['TIMESTAMP']) 
c_d2 = c_d2.sort_values(by='TIMESTAMP')
c_d2.reset_index(inplace=True,drop=True)
#display(c_d2)

In [16]:
temp = pd.DataFrame()
for i in range(100):
    temp = temp.append(c_d1.loc[i,['SYMBOL','CONTRACTS']])
display(temp)

        SYMBOL  CONTRACTS
0     RELIANCE    3556306
1     HDFCBANK    2849985
2         INFY    1858456
3          TCS    1605120
4         HDFC    1418455
..         ...        ...
95         IGL     110014
96    ASHOKLEY     108601
97        NMDC     108364
98  BAJAJ-AUTO     105166
99   EICHERMOT     101255

[100 rows x 2 columns]

In [17]:
values = set(temp['SYMBOL'])
c_d2['MATCH'] = c_d2['SYMBOL'].isin(values).astype(int)
#display(c_d2)

In [18]:
c_d2 = c_d2[(c_d2['MATCH']==1)]
c_d2.reset_index(inplace=True,drop=True)
#display(c_d2)

In [19]:
c_d3 = c_d2[(c_d2['TIMESTAMP']=='2022-04-29')]
c_d3 = c_d3.sort_values(by=['SYMBOL','STRIKE_PR'])
c_d3.reset_index(inplace=True,drop=True)
c_d3 = c_d3.drop(['OPEN','HIGH','LOW','SETTLE_PR','CONTRACTS','VAL_INLAKH','OPEN_INT','CHG_IN_OI','Unnamed: 15'],axis=1)
display(c_d3)

,SYMBOL,SERIES,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES,ISIN,Unnamed: 13,INSTRUMENT,EXPIRY_DT,STRIKE_PR,OPTION_TYP,MATCH
0,ACC,NaN,476.90,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,NaN,OPTSTK,26-May-2022,1560.0,CE,1
1,ACC,NaN,458.45,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,NaN,OPTSTK,26-May-2022,1580.0,CE,1
2,ACC,NaN,440.20,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,NaN,OPTSTK,26-May-2022,1600.0,CE,1
3,ACC,NaN,422.20,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,NaN,OPTSTK,26-May-2022,1620.0,CE,1
4,ACC,NaN,404.45,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,NaN,OPTSTK,26-May-2022,1640.0,CE,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5650,ZEEL,NaN,5.00,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,NaN,OPTSTK,26-May-2022,355.0,CE,1
5651,ZEEL,NaN,4.65,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,NaN,OPTSTK,26-May-2022,360.0,CE,1
5652,ZEEL,NaN,4.30,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,NaN,OPTSTK,26-May-2022,365.0,CE,1
5653,ZEEL,NaN,0.30,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,NaN,OPTSTK,26-May-2022,370.0,CE,1
5654,ZEEL,NaN,4.80,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,NaN,OPTSTK,26-May-2022,375.0,CE,1

GETTING EQUITY BHAVCOPY

In [20]:
##GET THE EQUITY BHAVCOPY
extension = 'csv'
end='29-04-2022'
end=datetime.datetime.strptime(end,"%d-%m-%Y").date()
delta = datetime.timedelta(days=1)
i=0
path = r'C:\Users\admin\Desktop\C_D1'
try:
    url = r'https://www1.nseindia.com/content/historical/EQUITIES/'+end.strftime("%Y")+'/'+end.strftime("%b").upper()+'/cm'+end.strftime("%d%b%Y").upper()+'bhav.csv.zip'
    #print(url)
    req=requests.get(url)
    filename=url.split('/')[-1]
    with open(path+'/'+filename,'wb') as output_file:
        output_file.write(req.content)
    with ZipFile(path+'/'+filename,'r') as zip_ref:
        zip_ref.extractall(path)
except:
    pass

In [21]:
df_2 = pd.read_csv(r'C:\Users\admin\Desktop\C_D1\cm29APR2022bhav.csv')
df_2 = df_2[(df_2['SERIES']=='EQ')]
df_2 = df_2.reset_index()
#display(df_2)

In [22]:
for name, group in c_d3.groupby('SYMBOL'):
    for i in range(len(df_2)):
        if(name==df_2.loc[i,'SYMBOL']):
            c_d3.loc[group.index[0]:group.index[-1],'SPOT']=df_2.loc[i,'CLOSE']
#display(c_d3)

In [23]:
for i in range(len(c_d3)):
    K=c_d3.loc[i,'STRIKE_PR']
    St=c_d3.loc[i,'SPOT']   
    r=6      
    t=27     
    v=30     
    type='c' 
    bsm=op.black_scholes(K=K, St=St, r=r, t=t,v=v, type='c')
    c_d3.loc[i,'AssumedValue']=bsm['value']['option value']
display(c_d3)

,SYMBOL,SERIES,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES,ISIN,Unnamed: 13,INSTRUMENT,EXPIRY_DT,STRIKE_PR,OPTION_TYP,MATCH,SPOT,AssumedValue
0,ACC,NaN,476.90,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,NaN,OPTSTK,26-May-2022,1560.0,CE,1,2328.90,775.808503
1,ACC,NaN,458.45,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,NaN,OPTSTK,26-May-2022,1580.0,CE,1,2328.90,755.897086
2,ACC,NaN,440.20,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,NaN,OPTSTK,26-May-2022,1600.0,CE,1,2328.90,735.985684
3,ACC,NaN,422.20,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,NaN,OPTSTK,26-May-2022,1620.0,CE,1,2328.90,716.074313
4,ACC,NaN,404.45,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,NaN,OPTSTK,26-May-2022,1640.0,CE,1,2328.90,696.163000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5650,ZEEL,NaN,5.00,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,NaN,OPTSTK,26-May-2022,355.0,CE,1,248.15,0.000037
5651,ZEEL,NaN,4.65,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,NaN,OPTSTK,26-May-2022,360.0,CE,1,248.15,0.000016
5652,ZEEL,NaN,4.30,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,NaN,OPTSTK,26-May-2022,365.0,CE,1,248.15,0.000007
5653,ZEEL,NaN,0.30,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,NaN,OPTSTK,26-May-2022,370.0,CE,1,248.15,0.000003
5654,ZEEL,NaN,4.80,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,NaN,OPTSTK,26-May-2022,375.0,CE,1,248.15,0.000001

In [24]:
for i in range(len(c_d3)):
    c_d3.loc[i,'IV']=(v/c_d3.loc[i,'AssumedValue'])*c_d3.loc[i,'CLOSE']
#display(c_d3)

In [25]:
for i in range(len(c_d3)):
    K=c_d3.loc[i,'STRIKE_PR']
    St=c_d3.loc[i,'SPOT']   
    r=6      
    t=27     
    v=c_d3.loc[i,'IV']     
    type='c' 
    
    bsm=op.black_scholes(K=K, St=St, r=r, t=t,v=v, type='c')
    c_d3.loc[i,'Delta']=bsm['greeks']['delta']
    c_d3.loc[i,'AbsoluteValue']=abs(0.2-c_d3.loc[i,'Delta'])
#display(c_d3)

In [26]:
c_d3['FinalDelta'] = c_d3.groupby('SYMBOL')['AbsoluteValue'].transform('min')
#display(c_d3)

In [27]:
for i in range(len(c_d3)):
    if(c_d3.loc[i,'FinalDelta']==c_d3.loc[i,'AbsoluteValue']):
        c_d3.loc[i,'Match']=1
    else:
        c_d3.loc[i,'Match']=0
stock = c_d3[c_d3['Match']==1]
stock.reset_index(inplace=True,drop=True)
display(stock)

,SYMBOL,SERIES,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES,ISIN,...,STRIKE_PR,OPTION_TYP,MATCH,SPOT,AssumedValue,IV,Delta,AbsoluteValue,FinalDelta,Match
0,ACC,NaN,7.50,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,2680.0,CE,1,2328.90,4.030925,55.818453,0.206163,0.006163,0.006163,1.0
1,ADANIENT,NaN,37.55,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,2560.0,CE,1,2332.00,13.946011,80.775787,0.384170,0.184170,0.184170,1.0
2,ADANIPORTS,NaN,29.85,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,910.0,CE,1,856.40,10.445667,85.729325,0.450364,0.250364,0.250364,1.0
3,AMBUJACEM,NaN,1.05,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,435.0,CE,1,372.20,0.404908,77.795451,0.270894,0.070894,0.070894,1.0
4,APOLLOHOSP,NaN,63.30,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,4900.0,CE,1,4454.35,25.358650,74.885690,0.365219,0.165219,0.165219,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,UPL,NaN,1.90,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,960.0,CE,1,822.90,0.946709,60.208580,0.202690,0.002690,0.002690,1.0
96,VEDL,NaN,4.40,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,450.0,CE,1,408.35,2.228275,59.238643,0.310404,0.110404,0.110404,1.0
97,VOLTAS,NaN,11.75,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,1400.0,CE,1,1261.55,5.800070,60.775127,0.301368,0.101368,0.101368,1.0
98,WIPRO,NaN,5.85,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,560.0,CE,1,508.80,2.860314,61.356907,0.321135,0.121135,0.121135,1.0
99,ZEEL,NaN,7.00,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,265.0,CE,1,248.15,2.733449,76.826015,0.425166,0.225166,0.225166,1.0

In [28]:
c_d3.to_csv(r'C:\Users\admin\Desktop\try.csv')

GETTING THE NIFTY INDEX EQUITY VALUE AND INDEX VALUES

In [29]:
nifty = df_1[(df_1['INSTRUMENT']=='OPTIDX') & (df_1['OPTION_TYP']=='CE') &  (df_1['EXPIRY_DT']=='26-May-2022') & (df_1['SYMBOL']=='NIFTY')]
nifty['TIMESTAMP'] = pd.to_datetime(nifty['TIMESTAMP'])
nifty = nifty[nifty['TIMESTAMP']=='2022-04-29']
nifty = nifty.sort_values(by=['STRIKE_PR','TIMESTAMP'])
nifty = nifty.drop(['OPEN','HIGH','LOW','SETTLE_PR','CONTRACTS','VAL_INLAKH','OPEN_INT','CHG_IN_OI','Unnamed: 15'],axis=1)
nifty.reset_index(inplace=True,drop=True)
#display(nifty)

NIFTY SPOT PRICE AS ON 29-04-2022

In [30]:
niftyeq=pd.read_csv(r'C:\Users\admin\Downloads\data.csv')
niftyeq['Date'] = pd.to_datetime(niftyeq['Date'])
#display(niftyeq)

In [31]:
for i in range(len(nifty)):
    K=nifty.loc[i,'STRIKE_PR']
    St=niftyeq.loc[0,'Close']   
    r=6      
    t=27     
    v=30     
    type='c' 
    bsm=op.black_scholes(K=K, St=St, r=r, t=t,v=v,type='c')
    nifty.loc[i,'AssumedValue']=bsm['value']['option value']
#display(nifty)

In [32]:
for i in range(len(nifty)):
    nifty.loc[i,'IV']=(v/nifty.loc[i,'AssumedValue'])*nifty.loc[i,'CLOSE']
#display(nifty)

In [33]:
for i in range(len(nifty)):
    K=nifty.loc[i,'STRIKE_PR']
    St=niftyeq.loc[0,'Close']   
    r=6      
    t=27     
    v=nifty.loc[i,'IV']     
    type='c' 
    bsm=op.black_scholes(K=K, St=St, r=r, t=t,v=v, type='c')
    nifty.loc[i,'Delta']=bsm['greeks']['delta']
    nifty.loc[i,'AbsoluteValue']=abs(0.2-nifty.loc[i,'Delta'])
#display(nifty)

In [34]:
nifty['FinalDelta'] = nifty['AbsoluteValue'].min()
for i in range(len(nifty)):
    if(nifty.loc[i,'FinalDelta']==nifty.loc[i,'AbsoluteValue']):
        nifty.loc[i,'Match']=1
    else:
        nifty.loc[i,'Match']=0
    
#display(nifty)

In [35]:
#nifty.to_csv(r'C:\Users\admin\Desktop\nifty.csv')

In [36]:
###DISPLAY THE STRIKE WHICH WE HAVE TO GO LONG
index = nifty[nifty['Match']==1]
display(index)

,SYMBOL,SERIES,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES,ISIN,...,INSTRUMENT,EXPIRY_DT,STRIKE_PR,OPTION_TYP,AssumedValue,IV,Delta,AbsoluteValue,FinalDelta,Match
65,NIFTY,NaN,141.95,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,OPTIDX,26-May-2022,17600.0,CE,378.276279,11.257645,0.218833,0.018833,0.018833,1.0

GETTING EQUITY BHAVCOPY AS ON EXPIRY

In [37]:
##GET THE EQUITY BHAVCOPY
extension = 'csv'
last='26-05-2022'
last=datetime.datetime.strptime(last,"%d-%m-%Y").date()
delta = datetime.timedelta(days=1)
i=0
path = r'C:\Users\admin\Desktop\C_D1'
try:
    url = r'https://www1.nseindia.com/content/historical/EQUITIES/'+last.strftime("%Y")+'/'+last.strftime("%b").upper()+'/cm'+last.strftime("%d%b%Y").upper()+'bhav.csv.zip'
    #print(url)
    req=requests.get(url)
    filename=url.split('/')[-1]
    with open(path+'/'+filename,'wb') as output_file:
        output_file.write(req.content)
    with ZipFile(path+'/'+filename,'r') as zip_ref:
        zip_ref.extractall(path)
except:
    pass

In [38]:
equity = pd.read_csv(r'C:\Users\admin\Desktop\C_D1\cm26MAY2022bhav.csv')
equity = equity[(equity['SERIES']=='EQ')]
equity = equity.reset_index()
#display(equity)

In [39]:
for i in range(len(stock)):
    for j in range(len(equity)):
        if(stock.loc[i,'SYMBOL']==equity.loc[j,'SYMBOL']):
            stock.loc[i,'EQUITYCLOSE']=equity.loc[j,'CLOSE']
            if(stock.loc[i,'STRIKE_PR']>equity.loc[j,'CLOSE']):
                stock.loc[i,'EXITPRICE']=0
            else:
                stock.loc[i,'EXITPRICE']=abs(stock.loc[i,'STRIKE_PR']-equity.loc[j,'CLOSE'])
        else:
            continue

#display(stock)

In [40]:
stock = stock.append(index,ignore_index=True)
#display(stock)

In [41]:
niftyexpiry=pd.read_csv(r'C:\Users\admin\Downloads\data1.csv')
niftyexpiry['Date'] = pd.to_datetime(niftyexpiry['Date'])
#display(niftyexpiry)
#stock.to_csv(r'C:\Users\admin\Desktop\exitprice.csv')

In [42]:
for i in range(len(stock)):
    if(stock.loc[i,'SYMBOL']=='NIFTY'):
        if(stock.loc[i,'STRIKE_PR']>niftyexpiry.loc[0,'Close']):
            stock.loc[i,'EXITPRICE']=0
        else:
            stock.loc[i,'EXITPRICE']=abs(stock.loc[i,'STRIKE_PR']-niftyexpiry.loc[i,'CLOSE'])

#stock = stock.drop(['MATCH','Match'],axis=1)            
display(stock)

,SYMBOL,SERIES,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES,ISIN,...,MATCH,SPOT,AssumedValue,IV,Delta,AbsoluteValue,FinalDelta,Match,EQUITYCLOSE,EXITPRICE
0,ACC,NaN,7.50,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,1.0,2328.90,4.030925,55.818453,0.206163,0.006163,0.006163,1.0,2208.00,0.0
1,ADANIENT,NaN,37.55,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,1.0,2332.00,13.946011,80.775787,0.384170,0.184170,0.184170,1.0,2046.40,0.0
2,ADANIPORTS,NaN,29.85,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,1.0,856.40,10.445667,85.729325,0.450364,0.250364,0.250364,1.0,701.50,0.0
3,AMBUJACEM,NaN,1.05,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,1.0,372.20,0.404908,77.795451,0.270894,0.070894,0.070894,1.0,365.40,0.0
4,APOLLOHOSP,NaN,63.30,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,1.0,4454.35,25.358650,74.885690,0.365219,0.165219,0.165219,1.0,3662.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,VEDL,NaN,4.40,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,1.0,408.35,2.228275,59.238643,0.310404,0.110404,0.110404,1.0,313.05,0.0
97,VOLTAS,NaN,11.75,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,1.0,1261.55,5.800070,60.775127,0.301368,0.101368,0.101368,1.0,995.85,0.0
98,WIPRO,NaN,5.85,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,1.0,508.80,2.860314,61.356907,0.321135,0.121135,0.121135,1.0,453.35,0.0
99,ZEEL,NaN,7.00,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,1.0,248.15,2.733449,76.826015,0.425166,0.225166,0.225166,1.0,229.80,0.0
100,NIFTY,NaN,141.95,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,NaN,NaN,378.276279,11.257645,0.218833,0.018833,0.018833,1.0,NaN,0.0

GENERATING TRADESHEET AND GETTING LOT SIZE

In [43]:
path = r'C:\Users\admin\Downloads\fo_mktlots.csv'
lotsize = pd.read_csv(path)
lotsize = lotsize.iloc[:,1:5]
lotsize = lotsize.drop(['22-Jul','22-Jun'],axis=1)
#display(lotsize)

In [44]:
for i in range(len(lotsize)):
    if(lotsize.loc[i,'SYMBOL'] in stock.values):
        lotsize.loc[i,'Present']=1
    else:
        lotsize.loc[i,'Present']=0

In [45]:
lotsize = lotsize[lotsize['Present']==1]
lotsize.reset_index(inplace=True,drop=True)
display(lotsize)

         SYMBOL 22-Aug  Present
0         NIFTY     50      1.0
1      AXISBANK   1200      1.0
2    BALRAMCHIN   1600      1.0
3          BPCL   1800      1.0
4      GODREJCP   1000      1.0
..          ...    ...      ...
96       GRASIM    475      1.0
97    SUNPHARMA    700      1.0
98          PVR    407      1.0
99          TCS    150      1.0
100        VEDL   1550      1.0

[101 rows x 3 columns]

In [46]:
for i in range(len(stock)):
    for j in range(len(lotsize)):
        if(stock.loc[i,'SYMBOL']==lotsize.loc[j,'SYMBOL']):
            stock.loc[i,'Lot']=lotsize.loc[j,'22-Aug']
        else:
            continue
display(stock)

,SYMBOL,SERIES,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES,ISIN,...,SPOT,AssumedValue,IV,Delta,AbsoluteValue,FinalDelta,Match,EQUITYCLOSE,EXITPRICE,Lot
0,ACC,NaN,7.50,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,2328.90,4.030925,55.818453,0.206163,0.006163,0.006163,1.0,2208.00,0.0,250
1,ADANIENT,NaN,37.55,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,2332.00,13.946011,80.775787,0.384170,0.184170,0.184170,1.0,2046.40,0.0,500
2,ADANIPORTS,NaN,29.85,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,856.40,10.445667,85.729325,0.450364,0.250364,0.250364,1.0,701.50,0.0,1250
3,AMBUJACEM,NaN,1.05,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,372.20,0.404908,77.795451,0.270894,0.070894,0.070894,1.0,365.40,0.0,1800
4,APOLLOHOSP,NaN,63.30,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,4454.35,25.358650,74.885690,0.365219,0.165219,0.165219,1.0,3662.80,0.0,125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,VEDL,NaN,4.40,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,408.35,2.228275,59.238643,0.310404,0.110404,0.110404,1.0,313.05,0.0,1550
97,VOLTAS,NaN,11.75,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,1261.55,5.800070,60.775127,0.301368,0.101368,0.101368,1.0,995.85,0.0,500
98,WIPRO,NaN,5.85,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,508.80,2.860314,61.356907,0.321135,0.121135,0.121135,1.0,453.35,0.0,1000
99,ZEEL,NaN,7.00,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,248.15,2.733449,76.826015,0.425166,0.225166,0.225166,1.0,229.80,0.0,3000
100,NIFTY,NaN,141.95,NaN,NaN,NaN,NaN,2022-04-29,NaN,NaN,...,NaN,378.276279,11.257645,0.218833,0.018833,0.018833,1.0,NaN,0.0,50

In [47]:
stock = stock.drop(['SERIES','LAST','PREVCLOSE','TOTTRDQTY','SPOT','TOTTRDVAL','TOTALTRADES','ISIN','Unnamed: 13','MATCH','Match'],axis=1)

In [49]:
tradesheet = pd.DataFrame()
tradesheet = stock
tradesheet.loc[100,'EQUITYCLOSE']=16170.15
display(tradesheet)

,SYMBOL,CLOSE,TIMESTAMP,INSTRUMENT,EXPIRY_DT,STRIKE_PR,OPTION_TYP,AssumedValue,IV,Delta,AbsoluteValue,FinalDelta,EQUITYCLOSE,EXITPRICE,Lot
0,ACC,7.50,2022-04-29,OPTSTK,26-May-2022,2680.0,CE,4.030925,55.818453,0.206163,0.006163,0.006163,2208.00,0.0,250
1,ADANIENT,37.55,2022-04-29,OPTSTK,26-May-2022,2560.0,CE,13.946011,80.775787,0.384170,0.184170,0.184170,2046.40,0.0,500
2,ADANIPORTS,29.85,2022-04-29,OPTSTK,26-May-2022,910.0,CE,10.445667,85.729325,0.450364,0.250364,0.250364,701.50,0.0,1250
3,AMBUJACEM,1.05,2022-04-29,OPTSTK,26-May-2022,435.0,CE,0.404908,77.795451,0.270894,0.070894,0.070894,365.40,0.0,1800
4,APOLLOHOSP,63.30,2022-04-29,OPTSTK,26-May-2022,4900.0,CE,25.358650,74.885690,0.365219,0.165219,0.165219,3662.80,0.0,125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,VEDL,4.40,2022-04-29,OPTSTK,26-May-2022,450.0,CE,2.228275,59.238643,0.310404,0.110404,0.110404,313.05,0.0,1550
97,VOLTAS,11.75,2022-04-29,OPTSTK,26-May-2022,1400.0,CE,5.800070,60.775127,0.301368,0.101368,0.101368,995.85,0.0,500
98,WIPRO,5.85,2022-04-29,OPTSTK,26-May-2022,560.0,CE,2.860314,61.356907,0.321135,0.121135,0.121135,453.35,0.0,1000
99,ZEEL,7.00,2022-04-29,OPTSTK,26-May-2022,265.0,CE,2.733449,76.826015,0.425166,0.225166,0.225166,229.80,0.0,3000
100,NIFTY,141.95,2022-04-29,OPTIDX,26-May-2022,17600.0,CE,378.276279,11.257645,0.218833,0.018833,0.018833,16170.15,0.0,50

In [49]:
#display(stock)

In [53]:
for i in range(len(tradesheet)):
    tradesheet.loc[i,'ContractValue']=tradesheet.loc[i,'EQUITYCLOSE']*int(tradesheet.loc[i,'Lot'])
    tradesheet.loc[i,'Margin']=0.20*(tradesheet.loc[i,'ContractValue'])
    if(tradesheet.loc[i,'INSTRUMENT']=='OPTSTK'):
        tradesheet.loc[i,'NumberOfLots']=round(700000/tradesheet.loc[i,'Margin'])
        tradesheet.loc[i,'Signal']='Short'
    else:
        tradesheet.loc[i,'NumberOfLots']=round(30000000/tradesheet.loc[i,'Margin'])
        tradesheet.loc[i,'Signal']='Long'

In [54]:
for i in range(len(tradesheet)):
    tradesheet.loc[i,'MarginPrice']=0.20*float(tradesheet.loc[i,'EQUITYCLOSE'])*int(tradesheet.loc[i,'Lot'])*int(tradesheet.loc[i,'NumberOfLots'])
    tradesheet.loc[i,'EntryPrice']=float(tradesheet.loc[i,'CLOSE'])*int(tradesheet.loc[i,'Lot'])*int(tradesheet.loc[i,'NumberOfLots'])
    tradesheet.loc[i,'ExitPriceee']=float(tradesheet.loc[i,'EXITPRICE'])*int(tradesheet.loc[i,'Lot'])*int(tradesheet.loc[i,'NumberOfLots'])
    
    if(tradesheet.loc[i,'INSTRUMENT']=='OPTSTK'):
        tradesheet.loc[i,'Profit/Loss']=tradesheet.loc[i,'EntryPrice']-tradesheet.loc[i,'ExitPriceee']
    else:
        tradesheet.loc[i,'Profit/Loss']=tradesheet.loc[i,'ExitPriceee']-tradesheet.loc[i,'EntryPrice']
display(tradesheet)

,SYMBOL,CLOSE,TIMESTAMP,INSTRUMENT,EXPIRY_DT,STRIKE_PR,OPTION_TYP,AssumedValue,IV,Delta,...,EXITPRICE,Lot,ContractValue,Margin,NumberOfLots,Signal,MarginPrice,EntryPrice,ExitPriceee,Profit/Loss
0,ACC,7.50,2022-04-29,OPTSTK,26-May-2022,2680.0,CE,4.030925,55.818453,0.206163,...,0.0,250,552000.0,110400.0,6.0,Short,662400.0,11250.0,0.0,11250.0
1,ADANIENT,37.55,2022-04-29,OPTSTK,26-May-2022,2560.0,CE,13.946011,80.775787,0.384170,...,0.0,500,1023200.0,204640.0,3.0,Short,613920.0,56325.0,0.0,56325.0
2,ADANIPORTS,29.85,2022-04-29,OPTSTK,26-May-2022,910.0,CE,10.445667,85.729325,0.450364,...,0.0,1250,876875.0,175375.0,4.0,Short,701500.0,149250.0,0.0,149250.0
3,AMBUJACEM,1.05,2022-04-29,OPTSTK,26-May-2022,435.0,CE,0.404908,77.795451,0.270894,...,0.0,1800,657720.0,131544.0,5.0,Short,657720.0,9450.0,0.0,9450.0
4,APOLLOHOSP,63.30,2022-04-29,OPTSTK,26-May-2022,4900.0,CE,25.358650,74.885690,0.365219,...,0.0,125,457850.0,91570.0,8.0,Short,732560.0,63300.0,0.0,63300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,VEDL,4.40,2022-04-29,OPTSTK,26-May-2022,450.0,CE,2.228275,59.238643,0.310404,...,0.0,1550,485227.5,97045.5,7.0,Short,679318.5,47740.0,0.0,47740.0
97,VOLTAS,11.75,2022-04-29,OPTSTK,26-May-2022,1400.0,CE,5.800070,60.775127,0.301368,...,0.0,500,497925.0,99585.0,7.0,Short,697095.0,41125.0,0.0,41125.0
98,WIPRO,5.85,2022-04-29,OPTSTK,26-May-2022,560.0,CE,2.860314,61.356907,0.321135,...,0.0,1000,453350.0,90670.0,8.0,Short,725360.0,46800.0,0.0,46800.0
99,ZEEL,7.00,2022-04-29,OPTSTK,26-May-2022,265.0,CE,2.733449,76.826015,0.425166,...,0.0,3000,689400.0,137880.0,5.0,Short,689400.0,105000.0,0.0,105000.0
100,NIFTY,141.95,2022-04-29,OPTIDX,26-May-2022,17600.0,CE,378.276279,11.257645,0.218833,...,0.0,50,808507.5,161701.5,186.0,Long,30076479.0,1320135.0,0.0,-1320135.0

In [60]:
print(tradesheet['Profit/Loss'].sum())
print(tradesheet['Profit/Loss'].sum()/100000000*100,"%")

3371104.5999999996
3.3711045999999993 %

In [56]:
tradesheet.to_csv(r'C:\Users\admin\Desktop\Tradesheet.csv')