In [1]:
import warnings
import pendulum
warnings.simplefilter(action='ignore',category=FutureWarning)

In [25]:
import pandas as pd
import numpy as np
inputt=r'C:\Users\admin\Desktop\Dmart.csv'
df = pd.read_csv(inputt)

In [26]:
from datetime import datetime
df['Month']=pd.to_datetime(df['Date/Time']).dt.month
df['Date/Time']=pd.to_datetime(df['Date/Time']).dt.date
#display(df)

In [28]:
import datetime
df['day_of_month'] = pd.to_datetime(df['Date/Time']).dt.day
#df['week_number'] = (df['day_of_month'] - 1) // 7 + 1
#display(df)
df['Week']=pd.to_datetime(df['Date/Time']).dt.week
display(df)
df.to_csv(r'C:\Users\admin\Desktop\test.csv')

,Ticker,Date/Time,Open,Low,High,Close,Month,day_of_month,Week
0,DMART.EQ-NSE,2020-01-01,1849.70,1820.00,1867.00,1828.50,1,1,1
1,DMART.EQ-NSE,2020-01-02,1831.00,1815.00,1854.85,1824.20,1,2,1
2,DMART.EQ-NSE,2020-01-03,1827.00,1827.00,1853.00,1843.55,1,3,1
3,DMART.EQ-NSE,2020-01-06,1827.00,1780.00,1829.00,1789.90,1,6,2
4,DMART.EQ-NSE,2020-01-07,1805.00,1805.00,1837.50,1815.75,1,7,2
...,...,...,...,...,...,...,...,...,...
247,DMART.EQ-NSE,2020-12-24,2661.85,2604.80,2700.00,2673.10,12,24,52
248,DMART.EQ-NSE,2020-12-28,2685.95,2655.00,2698.95,2678.00,12,28,53
249,DMART.EQ-NSE,2020-12-29,2690.00,2645.00,2694.70,2665.70,12,29,53
250,DMART.EQ-NSE,2020-12-30,2666.20,2642.35,2725.00,2680.30,12,30,53
251,DMART.EQ-NSE,2020-12-31,2691.00,2670.00,2780.00,2763.60,12,31,53

In [44]:
week=1
df.loc[0,'NewWeek']=1
for i in range(1,len(df)):
    if(df.loc[i,'Month']!=df.loc[i-1,'Month']):
        week=1
        df.loc[i,'NewWeek']=week
    elif(df.loc[i,'Month']==df.loc[i-1,'Month']):
        if(df.loc[i,'Week']!=df.loc[i-1,'Week']):
            week+=1
            df.loc[i,'NewWeek']=week
        else:
            df.loc[i,'NewWeek']=df.loc[i-1,'NewWeek']
display(df)
df.to_csv(r'C:\Users\admin\Desktop\trial.csv')

,Ticker,Date/Time,Open,Low,High,Close,Month,day_of_month,Week,NewWeek
0,DMART.EQ-NSE,2020-01-01,1849.70,1820.00,1867.00,1828.50,1,1,1,1.0
1,DMART.EQ-NSE,2020-01-02,1831.00,1815.00,1854.85,1824.20,1,2,1,1.0
2,DMART.EQ-NSE,2020-01-03,1827.00,1827.00,1853.00,1843.55,1,3,1,1.0
3,DMART.EQ-NSE,2020-01-06,1827.00,1780.00,1829.00,1789.90,1,6,2,2.0
4,DMART.EQ-NSE,2020-01-07,1805.00,1805.00,1837.50,1815.75,1,7,2,2.0
...,...,...,...,...,...,...,...,...,...,...
247,DMART.EQ-NSE,2020-12-24,2661.85,2604.80,2700.00,2673.10,12,24,52,4.0
248,DMART.EQ-NSE,2020-12-28,2685.95,2655.00,2698.95,2678.00,12,28,53,5.0
249,DMART.EQ-NSE,2020-12-29,2690.00,2645.00,2694.70,2665.70,12,29,53,5.0
250,DMART.EQ-NSE,2020-12-30,2666.20,2642.35,2725.00,2680.30,12,30,53,5.0
251,DMART.EQ-NSE,2020-12-31,2691.00,2670.00,2780.00,2763.60,12,31,53,5.0

In [45]:
df_1 = pd.DataFrame()
df_2 = pd.DataFrame()
df_1 = df.groupby(['Month','NewWeek'])['Open'].nth(0)
df_2 = df.groupby(['Month','NewWeek'])['Close'].nth(-1)
df_filter = pd.concat([df_1,df_2],axis=1)
df_filter['ROC']=((df_filter['Close']/df_filter['Open'])-1)*100
display(df_filter)
display(df_filter['ROC'].sum())

                  Open    Close        ROC
Month NewWeek
1     1.0      1849.70  1843.55  -0.332486
      2.0      1827.00  1876.95   2.733990
      3.0      1925.00  1990.55   3.405195
      4.0      2000.00  1948.60  -2.570000
      5.0      1945.50  2133.95   9.686456
2     1.0      2120.00  2072.05  -2.261792
      2.0      2084.00  2287.20   9.750480
      3.0      2287.20  2408.35   5.296870
      4.0      2354.50  2462.65   4.593332
      5.0      2448.80  2323.95  -5.098416
3     1.0      2335.00  2242.15  -3.976445
      2.0      2185.00  2101.00  -3.844394
      3.0      1995.95  1916.10  -4.000601
      4.0      1820.30  2079.70  14.250398
      5.0      2079.70  2187.50   5.183440
4     1.0      2218.00  2066.95  -6.810189
      2.0      2090.10  2392.65  14.475384
      3.0      2320.00  2212.10  -4.650862
      4.0      2229.95  2310.50   3.612189
      5.0      2300.00  2383.65   3.636957
5     1.0      2310.20  2255.00  -2.389404
      2.0      2280.00  2333.80   2.359649
      3.0      2333.00  2398.30   2.798971
      4.0      2339.00  2269.35  -2.977768
6     1.0      2320.10  2499.00   7.710875
      2.0      2520.00  2397.80  -4.849206
      3.0      2373.00  2363.15  -0.415086
      4.0      2366.00  2294.40  -3.026205
      5.0      2294.40  2317.15   0.991545
7     1.0      2325.00  2290.15  -1.498925
      2.0      2296.00  2322.70   1.162892
      3.0      2210.05  1989.75  -9.968100
      4.0      1979.90  2031.40   2.601141
      5.0      2044.00  2063.45   0.951566
8     1.0      2068.70  2138.40   3.369266
      2.0      2138.40  2178.00   1.851852
      3.0      2181.00  2259.45   3.596974
      4.0      2269.95  2319.40   2.178462
      5.0      2298.90  2251.25  -2.072730
9     1.0      2244.00  2251.45   0.331996
      2.0      2270.00  2239.35  -1.350220
      3.0      2250.00  2149.05  -4.486667
      4.0      2175.00  2102.70  -3.324138
      5.0      2110.90  2203.15   4.370174
10    1.0      2210.00  2184.80  -1.140271
      2.0      2192.95  2057.60  -6.172051
      3.0      2072.00  1984.20  -4.237452
      4.0      1969.05  2116.55   7.490922
      5.0      2120.00  2239.90   5.655660
11    1.0      2240.00  2294.60   2.437500
      2.0      2306.05  2374.15   2.953102
      3.0      2374.15  2382.60   0.355917
      4.0      2361.10  2289.20  -3.045191
12    1.0      2330.00  2441.90   4.802575
      2.0      2441.90  2685.10   9.959458
      3.0      2715.00  2637.05  -2.871087
      4.0      2645.00  2673.10   1.062382
      5.0      2685.95  2763.60   2.890970

61.1388498600648

In [46]:
table = pd.pivot_table(df_filter,values='ROC',index='NewWeek',columns='Month',dropna=True)
display(table)

Month,1,2,3,4,5,6,7,8,9,10,11,12
NewWeek,,,,,,,,,,,,
1.0,-0.332486,-2.261792,-3.976445,-6.810189,-2.389404,7.710875,-1.498925,3.369266,0.331996,-1.140271,2.437500,4.802575
2.0,2.733990,9.750480,-3.844394,14.475384,2.359649,-4.849206,1.162892,1.851852,-1.350220,-6.172051,2.953102,9.959458
3.0,3.405195,5.296870,-4.000601,-4.650862,2.798971,-0.415086,-9.968100,3.596974,-4.486667,-4.237452,0.355917,-2.871087
4.0,-2.570000,4.593332,14.250398,3.612189,-2.977768,-3.026205,2.601141,2.178462,-3.324138,7.490922,-3.045191,1.062382
5.0,9.686456,-5.098416,5.183440,3.636957,NaN,0.991545,0.951566,-2.072730,4.370174,5.655660,NaN,2.890970